<div class="container">
	<h1>Sign Up</h1><br>
	<%= form_for @user do |f| %>
	<p><%= f.text_field :name, placeholder: "Name" %></p>
	<p><%= f.email_field :email, placeholder: "Email" %></p>
	<%= f.submit "Sign Up", class: "btn btn-primary" %>
	<% end %>
</div>


